{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>{{ article.title }}</h2>
    <h4>{{ article.content }}</h4>
    <h6>{{ article.updated }}</h6>
    <h6>{{ article.created }}</h6>
    <h6>{{ article.author }}<h6>
    <h6>Likes: {{ article.liked_by.count }}</h6>
    {% if user.is_authenticated %}
        <a href="{% url 'articles:like' article.id %}"><span>Like</span></a>
         | <a href="{% url 'articles:detail' article.id %}">Detail</a>
        {% if request.user == article.user_profile.user %}
         | <a href="{% url 'articles:update' article.id %}">Edit</a>
        <hr/>
        {% endif %}
    {% endif %}
{% endblock %}