{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>{{ article.title }}</h2>
    <pre>{{ article.content }}</pre>
    <h6>{{ article.updated }}</h6>
    <h6>{{ article.created }}</h6>
    <h6>{{ article.author }}<h6>
    <h6>Likes: {{ article.liked_by.count }}</h6>
    {% if request.user.is_authenticated %}
        <a href="{% url 'articles:like' article.id %}">
            {% if article not in request.user.user_profile.liked_articles.all %}
                <span>Like</span>
            {% else %}
                <span>Unlike</span>
            {% endif %}
        </a>
         | <a href="{% url 'articles:detail' article.id %}">Detail</a>
        {% if request.user == article.user_profile.user %}
         | <a href="{% url 'articles:update' article.id %}">Edit</a>
        <hr/>
        {% endif %}
    {% endif %}
{% endblock %}