{% extends 'base.html' %}

{% block title %}Article : {{ article.title }}{% endblock %}

{% block content %}

    <h2>{{ article.title }}</h2>
    <pre>{{ article.content }}</pre>
    <h6>{{ article.updated }}</h6>
    <h6>{{ article.created }}</h6>
    <h6>{{ article.author }}<h6>
    <h6>Likes: {{ article.liked_by.count }}</h6>
    {% if request.user.is_authenticated %}
        <a href="{% url 'articles:like' article.id %}">
            {% if article not in request.user.user_profile.liked_articles.all %}
                <span>Like</span>
            {% else %}
                <span>Unlike</span>
            {% endif %}
        </a>
        <hr/>
        <form action="{% url 'articles:comment' article.id %}" method="post">
        {% csrf_token %}
        <input type="text" name="content">
        <input type="submit" value="Comment">
        </form>
    
        <hr/>
        {% for comment in article.comments %}
            <h5>{{ comment.content }}</h5>
            <h6>Created: {{ comment.created }}</h6>
            <h6>by {{ comment.author }}</h6>
            <h6>Likes: {{ comment.liked_by.count }}</h6>
            <a href="{% url 'articles:comment-like' comment.id %}">
                {% if comment not in request.user.user_profile.liked_comments.all %}
                    <span>Like</span>
                {% else %}
                    <span>Unlike</span>
                {% endif %}
            </a>
            <hr/>
        {% empty %}
            <p>No comments yet.</p>
        {% endfor %}
    {% endif %}

{% endblock %}